<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="all">
    <listeners>
        <listener class-name = "com.renjith.listeners.TestListener"/>
    </listeners>
    <test parallel="methods" thread-count="2" name="SeleniumFramework">
        <classes>
            <class name="org.renjith.tests.HomePageTest"/>
            <!-- <class name="org.renjith.tests.PaymentTest"/> -->
        </classes>
    </test>
</suite>